body {
    background-color:rgb(122, 164, 184);
}

header, #gallery {
    text-align: center;
}

article.text {
    color:rgb(25, 43, 43)
}

body a {
    font-variant: small-caps;
    font-size: large;
}

h1 {
    color: white;
}

li strong {
    font-size: 95%
}